body {
  padding: 0;
  margin: 0;
  background: #ddd;
}

ul#photos {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 65px 65px auto;
  padding: 0;
  list-style-type: none;
}

ul#photos li {
  position: absolute;
  width: 286px;
  height: 286px;
  border: 7px solid #fff9f9;
  box-shadow: 0 0 5px #aaa;
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
}

#photo-01 {
  top: -3px;
  left: 8px;
  -o-transform: rotate(5.0deg);
  -moz-transform: rotate(5.0deg);
  -webkit-transform: rotate(5.0deg);
}
#photo-02 {
  -o-transform: rotate(-1.2deg);
  -moz-transform: rotate(-1.2deg);
  -webkit-transform: rotate(-1.2deg);
}
#photo-03 {
  left: 4px;
  -o-transform: rotate(2.2deg);
  -moz-transform: rotate(2.2deg);
  -webkit-transform: rotate(2.2deg);
}